@model IEnumerable<BlogWebApp.ViewModels.BlogPostListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfComments)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr onclick="location.href = '@Url.Action("Details", "BlogPosts", new { id = item.BlogPostId })'"
            style="cursor:pointer">
                <td>
                    <a>@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfComments)
                </td>
            </tr>
}
    </tbody>
</table>
